.card-container {
  margin: auto;
}

.card-list {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.card-home {
  text-align: center;
  line-height: 150px;
  background-color: rgb(255, 248, 196);
  height: 150px;
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  color: rgb(0, 0, 0);
}
